<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans
       https://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd">

    <bean id="loggingAspect"
          class="com.example.agent.aspect.LoggingAspect"/>

    <bean id="bookRepository"
          class="com.example.agent.repository.BookRepository"/>
<!--    for constructor injection-->
<!--    <bean id="bookService"-->
<!--          class="com.example.agent.Service.BookService">-->

<!--        <constructor-arg ref="bookRepository"/>-->

<!--    </bean>-->
    <bean id="BookService"
          class="com.example.agent.Service.BookService">

        <property name="repository"
                  ref="bookRepository"/>

    </bean>

    <aop:config>

        <aop:aspect ref="loggingAspect">

            <aop:pointcut
                    id="bookMethods"
                    expression="execution(* com.example.agent.Service.BookService.*(..))"/>

            <aop:before
                    pointcut-ref="bookMethods"
                    method="logBefore"/>

            <aop:after
                    pointcut-ref="bookMethods"
                    method="logAfter"/>

        </aop:aspect>

    </aop:config>
</beans>
